body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}
.orange-color {
    color: orange;
}
.flexible-container {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 85%;
}
.button-text {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-sec{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position:left;
}
.experience-item{
    width: 40%;
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding: 50px;
}
#fullstack-developer {
    border-left: 9px solid;
    border-image: linear-gradient(salmon,red);
    border-image-slice: 1;
}
#web-developer {
    border-left: 9px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}

footer p {
    text-align: center;
}